
@import 'reset.css';

:root {
    --cor1: #007bff;
    --cor2: #e9ecef;
    --cor3: #6c757d;
    --cor4: #dc3545;
    --cor5: #343a40;
}


main{
    min-height: 100vh;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6em;
    background-color: var(--cor5);
}

.matriz-aumentada-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.650);
    margin: 0 auto;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
}
.matriz-block {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.matriz-block .matriz-linha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    width: auto;
}

.matriz-campo{
    width: 60px;
    height: 40px;
    padding: .3em;
    outline: none;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ccc;
}

.matriz-linha.separator {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 1em;
     flex-direction: row;
     gap: 0;
}

.matriz-linha.separator p{
    color: #fff;
    font-weight: bolder;
    font-size: 1.8em;
    margin: 0;
}

.vetor-block {
     display: flex;
     flex-direction: column;
     gap: 0.5em;
}

.vetor-block .matriz-linha {
     display: flex;
     flex-direction: column;
     gap: 0.5em;
     width: auto;
     align-items: flex-start;
     justify-content: center;
}

.vetor-campo{
    width: 60px;
    height: 40px;
    padding: .3em;
    outline: none;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ccc;
}

#resultado-fracionado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#resultado-fracionado h2{
    color: #fff;
    text-align: center;
}


#matriz-inversa-fracionada{
    background-color: var(--cor2);
    border: 1px solid #ccc;
    padding: 1em;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#matriz-inversa-fracionada table{
    width: auto;
    border-collapse: collapse;
}

#matriz-inversa-fracionada table tr{
     display: block;
     width: auto;
}

#matriz-inversa-fracionada table td{
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.5em 1em;
    text-align: center;
    border: none;
}


/* Estilos para botões, footer, etc.*/
button{
    outline: none;
    border: none;
    padding: 1.2em;
    border-radius: .7em;
    cursor: pointer;
    font-size: 1em;
    transition: .2s ease-in-out;
}

.button1{
    background-color: var(--cor1);
    border: 2px solid #000;
    color: #000; 
}

.button1:hover{
    background-color: transparent;
    border: 2px solid var(--cor1);
     color: var(--cor1); /* Cor do texto no hover */
}

.button2{
    background-color: var(--cor4);
    border: 2px solid #000;
     color: #000;
}

.button2:hover{
    background-color: transparent;
    border: 2px solid var(--cor4);
     color: var(--cor4);
}


footer{
    padding: 4em;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background-image: linear-gradient(-120deg, #000000, var(--cor3));
    width: 100%;
    margin-top: auto;
}

footer p span{
    font-weight: 700;
}