*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor1: #0CCE6B;
    --cor2: #FFFDED;
    --cor3: #395C6B;
    --cor4: #FFB17A;
    --cor5: #8CA0D7;
}